<script type="text/x-handlebars" data-template-name='about'>
  <div class="body-content">
    <div class="row">
      <div class="col-lg-4">
        <p>About Page</p>
      </div>
    </div>
  </div>
</script>
