<script type="text/x-handlebars" data-template-name='application'>
  {{ partial 'navigation' }}
  <div class="container">
    {{outlet}}
    <hr>
    {{ partial 'footer' }}
  </div>
</script>

<%= render partial: 'templates/navigation' %>
<%= render partial: 'templates/footer' %>
<%= render partial: 'templates/index3' %>
<%= render partial: 'templates/about' %>

<script type='text/javascript'>
  App = Ember.Application.create();
  App.Router.map(function() {
    this.route('about');
  });

  App.IndexController = Ember.Controller.extend({
    logo: "/assets/logo.png",
    productCount: 6,
    time: function() {
      return "The current time is " + (new Date()).toDateString()
    }.property()
  });
</script>