<script type="text/x-handlebars">
  <div class="navbar navbar-default">
    <div class="container">
      {{#link-to "index" class="navbar-brand"}}<img src="/assets/logo.png" alt="logo" height="34" width="224">{{/link-to}}
      <ul class="nav navbar-nav navbar-right">
        {{#link-to 'index' tagName='li'}}Home{{/link-to}}
        {{#link-to 'about' tagName='li'}}About{{/link-to}}
        {{#link-to 'products' tagName='li'}}Products{{/link-to}}
      </ul>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>

  <footer class='container'>
    <hr />
    <p class='pull-left'>&copy; 2013 The Flint &amp; Flame</p>
    <p class='pull-right'><a href='#/credits'>Credits</a></p>
  </footer>
</script>

<script type='text/x-handlebars' data-template-name='index'>
  <h1>Welcome to The Flint & Flame!</h1>
  <p>There are {{productsCount}} products</p>
  <img {{bind-attr src='logo'}} alt='Logo' />
  <p>Rendered on {{time}}</p> 
</script>

<script type='text/x-handlebars' data-template-name='about'>
  <h1>About The Fire Spirits</h1>
</script>

<!--
{{#each product in controller}}
{{#each product in controller.model}}
{{#each product in model}}
-->
<script type="text/x-handlebars" data-template-name='products'>
<div class='row'>
  <div class='col-sm-3'>
    <div class="list-group">
      {{#each}}
        {{#link-to 'product' this classNames="list-group-item"}}
          {{title}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class='col-sm-9'>
    {{outlet}}
  </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name='product'>
  <div class='row'>
    <div class='col-sm-7'>
      <h2>{{title}}</h2>
      <h3 class="text-success">${{price}}</h3>
      <p class="text-muted">{{description}}</p>
    </div>
    <div class='col-sm-5'>
      <img {{bind-attr src='image'}} class='img-thumbnail img-rounded'/>
    </div>
  </div>
</script>

<script type='text/javascript'>
  App = Ember.Application.create();
  App.Router.map(function() {
    this.route('about');
    this.resource('products', function() {
      this.resource('product', { path: '/:title' });
    });
  });

  App.IndexController = Ember.Controller.extend({
    logo: "/assets/logo.png",
    productCount: 6,
    time: function() {
      return (new Date()).toDateString();
    }.property()
  });

  App.ProductsRoute = Ember.Route.extend({
    model: function() {
      return App.PRODUCTS;
    }
  });

  App.ProductRoute = Ember.Route.extend({
    model: function(params) {
      return App.PRODUCTS.findBy('title', params.title);
    }
  });

  App.PRODUCTS = [
    {
      title: 'Flint',
      price: 99,
      description: 'Flint is a hard, sedimentary cryptocrystalline form of the mineral quartz, categorized as a variety of chert.',
      isSeasonal: true,
      image: '/assets/products/flint.png'
    },
    {
      title: 'Kindling',
      price: 249,
      description: 'Easily combustible small sticks or twigs used for starting a fire.',
      isOnSale: false,
      isSeasonal: true,
      ratings: [102, 103],
      image: '/assets/products/kindling.png'
    }
  ];
</script>