<script type="text/x-handlebars" data-template-name='application'>
  {{ partial 'navigation' }}
  <div class="container">
    {{outlet}}
    <hr>
    {{ partial 'footer' }}
  </div>
</script>

<%= render partial: 'templates/navigation' %>
<%= render partial: 'templates/footer' %>
<%= render partial: 'templates/index' %>
<%= render partial: 'templates/about' %>

<script type='text/javascript'>
  App = Ember.Application.create();
  App.Router.map(function() {
    this.route('about');
  });
</script>