body { padding-top: 70px; }

.label a { color: #fff; text-decoration: underline; }

/*


.navbar {
  background-color: #567c3d;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #336532;
}
.navbar-inverse .navbar-brand, .navbar .active a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #c8e3bf;
}

 */
