<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember.js Store</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
</head>
<body>
  <%= yield %>
</body>
</html>
